<div class="footer-container">

  <div class="footer-inner-container">
    <div>
      <h6 class="footer-text-tittle">Get to Know Us</h6>
      <h6 class="footer-text">About us</h6>
      <h6 class="footer-text">History</h6>
      <h6 class="footer-text">Achievements</h6>
      <h6 class="footer-text">Careers</h6>
    </div>

    <div>
      <h6 class="footer-text-tittle">Connect With Us</h6>
      <h6 class="footer-text">Facebook</h6>
      <h6 class="footer-text">Twitter</h6>
      <h6 class="footer-text">Instagram</h6>
      <h6 class="footer-text">WhatsApp</h6>
    </div>

    <div>
      <h6 class="footer-text-tittle">Let Us Help You</h6>
      <h6 class="footer-text">Your Account</h6>
      <h6 class="footer-text">Products</h6>
      <h6 class="footer-text">Returns Centre</h6>
      <h6 class="footer-text">Help</h6>
    </div>
  </div>

  <div class="footer-inner-container-bottom">
    <h6 class="footer-text">Conditions of Use and Sale</h6>
    <h6 class="footer-text">Privacy Notice</h6>
    <h6 class="footer-text">Interest-Based Ads</h6>
  </div>
<div class="footer-inner-container">
  <h6 class="footer-text">© 2003-2024, Ecommerz.com, Inc. or its affiliates</h6>
</div>

</div>
