.header{
  height: 80px;
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon-pic{
  height: 40px;
  margin: 10px;
  width: 40px;
}

.tittle-logo{
  margin: 5px;
  height: 250px;
  width: 300px;
}
