.product-det{
  display: flex;
  flex-direction: column;
  gap:10px;
}

.product-det-container{
  margin: 100px;
  display: flex;
  justify-content: start;
  gap: 100px;
  align-items: center;
}

.product-det-pic{
  height: 500px;
  width: 400px;
  box-shadow: 5px 5px 5px #bbbbbb,
              5px -5px 5px #bbbbbb;
  border-radius: 10px;
}

.r-prof{
  display: flex;
  gap: 10px;
  align-items: center;
}

.review{
  margin: 20px;
}

.purchase-button{
  background: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.price{
  font-size: 30px;
  color: darkblue;
  font-weight: bold;
}
