<app-navbar-header></app-navbar-header>

<div class="product-det-container">
  <img src="{{product?.image}}" class="product-det-pic"/>
  <div class="product-det">
    <span style="font-weight: bolder;font-size: 30px;">{{product?.title}}</span>
    <p class="category"><span style="color: orange">Category : </span>{{product?.category}}</p>
    <span>{{product?.description}}</span>
    <p class="rating"><span style="color: red">Rating : </span>{{product?.rating?.rate}}</p>
    <p class="price">{{product?.price | currency}}</p>
    <div class="purchase-button" [routerLink]="['/checkout',product?.id]">
      <img src="purchase-order.png" alt="hello" style="height: 30px;width: 30px;margin-right: 5px"/>
      <span>Purchase</span>
    </div>
  </div>
</div>


  <h3 style="margin-left: 10px;font-style: italic;font-weight: bold;color:deeppink">** Reviews **</h3>

@for(r of reviews;track r.name){
  <div class="review">
    <div class="r-prof">
      <img src="review_prof.png" alt="hello" style="height: 30px;width: 30px"/>
        <span style="font-weight: bolder;font-size: 20px">{{r.name}}</span>
        <span style="color: #140086;font-style: italic">{{ r.date }}</span>
    </div>
    <div style="margin-left: 30px">
      <p style="font-weight: bolder;color:green">{{r.msg }}</p>
      <p>Rating : <span style="color: orangered">{{ r.rating }}</span></p>
      <p>{{ r.desc }}</p>
    </div>
  </div>
}


<app-footer></app-footer>
